.hero {
  text-align: center;
  // padding-top: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  height: 600px;
  // border: 5px $colorAccent solid;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(94, 178, 153, 0.1), rgba(94, 178, 153, 0.2)),
    url('../img-rast/hero.jpg');
}

.hero__title {
  // width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  // background-color: $colorAccent;
  // opacity: 0.5;

  color: $colorAccent;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  &--accent {
    color: $colorAccent;
  }
}
